* {
    font-family: 'Inter';
}

#container {
    display: flex;
    margin: auto;
    margin-top: 5rem;
    height: 35rem;
    max-width: 70rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px rgba(92, 92, 92, 0.25);
    overflow: hidden;
}

#splash {
    padding: 2rem;
    flex-basis: 100%;
    background-color: #DFF9FB;
}

#splash img {
    max-width: 70%;
    max-height: 70%;
}

#img-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form {
    padding: 3rem;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.text-input {
    background-color: #DFF9FB;
    border-radius: 10px;
    padding: 15px;
    border: none;
}

#country-input {
    display: flex;
    gap: 1.5rem;
}

#submit {
    color: white;
    font-size: medium;
    border: none;
    background-color: rgb(29, 108, 132);
    border-radius: 15px;
    padding: 0.8rem;
}