* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#container {
    display: flex;
}

#sidebar {
    flex-basis: 18%;
    height: 100vh;
    position: sticky;
    background-color: #DFF9FB;
}

#sidebar-controller {
    display: flex;
    flex-direction: column;
    height: inherit;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 20%;
    text-align: center;
}

#logo-text {
    font-size: 4rem;
}

#logo-slogan {
    letter-spacing: 3px;
    color: gray;
}

.spacer {
    margin: 10px;
}

#sidebar-menu {
    flex-grow: 1;
}

.sidebar-link {
    display: block;
    text-decoration: none;
    color: rgb(80, 80, 83);
    padding-left: 2rem;
}

#dashboard {
    flex-basis: 80%;
}